#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.termButton {
  margin-top: 40px;
  background-color: rgb(62, 96, 130);
  display: flex;
  color: white;
  height: 60px;
  width: 300px;
  border-radius: 50px;
  margin-right: 60px;
  font-size: 18px;
  transition: 0.3s;
  box-shadow: 3px 3px 3px grey;
}

.buttonIcon {
  float: right;
  position: relative;
  right: 10px;
  bottom: 2px;
}

.buttonText {
  margin-right: 3px;
  margin-left: 16px;
  margin-top: 8px;
  text-align: right;
}

.wrapper{
  display: flex;
  justify-content: flex-end;
}


.header{
  font-family: Arial, Sans-Serif;
  color: #092042;
  margin-left: 20px;
}

.gpaText{
  padding-bottom: 15px;
  font-size: 35px;
  top: 10px;
  font-weight: bold;
  color: darkblue;
}






      .menu{
          float: right;
          margin-right: 50px;
          margin-top: 50px;
          height: 50px;
          width: 50px;
       }


       .sidenav {
           height: 100%;
           width: 0;
           position: fixed;
           top: 0;
           right: 0;
           background-color: gray;
           transition: 0.5s;
           padding-top: 60px;
           font-size: 36px;
       }


       .back {
           position: absolute;
           top: 10px;
           left: 10px;
           margin-top: 60px;
           filter: invert(100%);
       }


       .font-menu{
           margin-top: 80px;
           margin-left: 20px;
           height: 35px;
           border: 0;
           width: 200px;
           text-align: center;
           background-color: white;
       }

       .dark-mode{
           margin-top: 20px;
           margin-left: 20px;
           height: 35px;
           border: 0;
           width: 200px;
           text-align: center;
           background-color: white;
           font-size: 12px;
       }


       .font-menu:hover, .dark-mode:hover {
           background-color: lightgray;
       }


       .darkScreen {
           background-color: black;
           width: 0;
           height: 100%;
           position: absolute;
           transition: 0.1s;
           margin-top: -140px;
           margin-left: -300px;
       }
