
.header {
  float: top;
  align-content: left;
}

.bin {
  position: relative;
  float: right;
}

.course-box {
  /*display: inline-block;*/
  border: 3px solid #333;
  width: 300px;
  height: 70px;
  padding: 20px;
  margin-bottom: 30px;
  text-align: left;
}

.course-details-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.course-detail {
  width: 50px;
}

input {
  size: 50px;
}