
.header {
  float: top;
  align-content: left;
  margin-bottom: 18px;
}

.bin {
  position: relative;
  float: right;
}

.courseBox {
  border: 3px solid #333;
  width: 300px;
  height: 100px;
  padding: 20px;
  margin-bottom: 30px;
  text-align: left;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 10px gray;
  border-radius: 0.5rem;
}

.courseDetailsBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.courseDetail {
  width: 100px;
  height: 35px;
  border: 0;
}

.courseName {
 border-left: 0;
 border-right: 0;
 border-top: 0;
 border-bottom: 2px solid gray;
}

input {
  height: 30px;
}

.numInputC {
 width: 8ch;
 border-radius: 0.5rem;
 padding-left: 12px;
}

.numInputG {
 width: 20ch;
 border-radius: 0.5rem;
 padding-left: 12px;
}

========================


.course-content {
 box-sizing: border-box;
 display: grid;
 gap: 10px;
 margin: auto;
 padding: 10px;
}





